#toc {
    background-color:  #f1f1f1;
    width: max-content;
    max-width: 95%;
    min-height: 9rem;
    margin-block: 1rem;
    padding: 0.5rem;
    outline: 1px solid #ddd;
    position: relative;
    border-radius: 0.4rem;
}
#toc-heading {
    display: inline-block;
    font-size: 1rem;
    color: var(--heading-font-color);
    margin-bottom: 0.5rem;
    margin-inline-end: 2rem;
}
#toc #toc-checkbox {
    display: inline-block;
    position: absolute;
    top: 0.8rem;
    inset-inline-end: 1rem;
    width: 1rem;
    height: 1rem;
    opacity: 0.4;
}
#toc #toc-checkbox:hover {
    cursor: pointer;
    opacity: 0.7;
}
#toc input:checked ~ ol {
    display: none;
}
#toc ol {
    border-top: 1px solid #ddd;
    list-style-position: inside;
    padding: 0.5rem 0.3rem;
    line-height: 1.8;
}
#toc ol ul {
    margin-left: 1.8rem;
    list-style-position: inside;
    list-style-type: disc;
    line-height: 1.5;
}
#toc li::marker {
    color: #c8c8c8;
}
#toc a {
    font-size: 1.1rem;
    padding-inline-start: 0.4rem;
}
#toc ul a {
    padding: 0;
    font-size: 1rem;
}
@media (min-width: 900px ) {
#toc {
        max-width: 70%;
        margin-block: 1.5rem;
        box-shadow: 4px 4px 6px 6px #fafcff, -4px -4px 6px 6px #fafcff;
    }
}