{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}

  <nav id="toc" aria-label="Table of Contents">
    {# <input type="checkbox" id="toc-checkbox"> #}
  </nav>
  <script>
    toc("{{ selectorType }}", "{{ articleSelector }}", "{{ headingSelector }}");
  </script>
 
{% endblock %}