{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block inner %}
  <div class="toc__title">{{ toc_headline }}</div>
  <nav id="toc" class="toc__nav" aria-label="Table of Contents">
    {# <input type="checkbox" id="toc-checkbox"> #}
  </nav>
  <script>
    toc("{{ selectorType }}", "{{ articleSelector }}", "{{ headingSelector }}");
  </script>
{% endblock %}